<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>All lists</h1>
    <%= link_to "Create a list", new_list_path, class: "btn btn-primary" %>
  </div>
  <% @lists.each do |list| %>
    <%= link_to list.name, list_path(list) %><br />
  <% end %>
</div>

